# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

/target/
/*.classpath
/*.project
/.settings/*.jsdtscope
/.settings/*.prefs
/.settings/*.component
/.settings/*.xml
/.settings/*.container
/.settings/*.name
/*.tern-project
/bin/
/.metadata/src/main/webapp/WEB-INF
/.idea/
.metadata
/RemoteSystemsTempFiles